.buttonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

.quantityButtonContainer {
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    align-items: center;
    justify-items: center;
    background-color: hsl(223, 64%, 98%);
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    width: 80vw;
}

.quantityButton {
    font-weight: 700;
    padding: 0.6rem;
}

.iconMinus,
.iconPlus {
    padding: 0 0.5rem;
}

.addToCartButtonContainer {
    border-radius: 0.5rem;
    background-color: hsl(26, 100%, 55%);
    padding: 0.75rem 0;
    width: 80vw;
    margin-bottom: 4rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.addToCartButton {
    color: white;
    font-weight: 700;
}

.iconCartButton {
    filter: brightness(10);
    height: 75%;
}

/* Media Queries */
@media (min-width:960px) {

    .buttonsContainer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 1rem;
        margin-left: 1rem;
    }

    .quantityButtonContainer {
        width: auto;
    }

    .quantityButton {
        padding: 0.5rem;
    }

    .addToCartButtonContainer {
        width: 20vw;
    }




}