.headerContainer {
  display: flex;
  justify-content: space-between;
}

.avatar {
  height: 30%;
  width: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

