/* Basket Modal */

.hiddenModal {
  display: none;
}

.showModal {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.5rem;
  top: 4rem;
  left: 1.5rem;
  right: 1rem;
  z-index: 2;
  box-shadow: 0 1rem 1rem 0.25rem hsla(0, 0%, 0%, 0.3);
}

.modalTitle {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.75rem 1rem;
  border-bottom: 1px solid hsla(0, 0%, 50%, 0.1);
}

.basketContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Empty Basket */
.emptyBasket {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketMessage {
  color: hsl(0, 0%, 50%);
  font-weight: 600;
  font-size: 0.75rem;
}

/* Full basket */
.fullBasket {
  display: flex;
  padding: 0.75rem 0;
  font-size: 0.75rem;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  justify-content: space-between;
  width: 80%;
}

.productImage {
  width: 15%;
  border-radius: 0.25rem;
}

.cartItemContainer {
  display: grid;
  grid-template-rows: auto auto;
}

.cartItemName {
  margin-block: 0;
  color: hsl(219, 9%, 45%);
  font-size: 0.8rem;
  font-weight: 400;
}

.cartItemPrice {
  margin: 0;
}

.cartItemTotal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: hsl(219, 9%, 45%);
  margin-block: 0;
}

.quantity {
  margin: 0;
}

.total {
  font-weight: 600;
  color: hsl(0, 0%, 0%);
  margin: 0;
}

.checkoutButton {
  border-radius: 0.5rem;
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 1rem 0;
  width: 80%;
  margin-bottom: 4rem;

}

/* Media Queries */
@media (min-width:960px) {
  .showModal {
    top: 16.5%;
    left: 70vw;
    outline: 1px solid hsla(0, 0%, 50%, 0.1);
    z-index: 3;
  }

  .emptyBasket {
    text-align: center;
  }

  .fullBasket {
    justify-content: space-evenly;
    width: 80%;
  }

  .checkoutButton {
    width: 80%;
  }
}