/* Basket Modal */

.hiddenModal {
  display: none;
}

.showModal {
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  top: 4rem;
  left: 1.5rem;
  right: 1rem;
  z-index: 2;
  height: 40vh;

}

.modalTitle {
  font-size: 0.75rem;
  padding: 0.5rem 0 0.75rem 1rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);

}

.basketContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Empty Basket */
.emptyBasket {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basketMessage {
  color: grey;
  font-weight: 600;
  font-size: 0.75rem;
}

/* Full basket */
.fullBasket {
  display: flex;
  width: 80vw;
  padding: 0.75rem 0;
  font-size: 0.75rem;
  align-items: center
}

.productImage {
  width: 15%;
  border-radius: 0.25rem;
}

.cartItemContainer {
  display: grid;
  grid-template-rows: auto auto;
}

.cartItemName {
  margin-block: 0;
  margin-inline: 1rem;
}

.cartItemTotal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline: 1rem;

}

.checkoutButton {
  border-radius: 0.5rem;
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.75rem 0;
  width: 80vw;
  margin-bottom: 4rem;

}

/* Media Queries */
@media (min-width:960px) {
  .showModal {
    text-align: center;
  }
}