/* Basket Modal */

.hiddenModal {
  display: none;
}

.showModal {
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  top: 4rem;
  z-index: 2;
  height: 30vh;
  width: 50vw;
}

.modalTitle {
  border-bottom: 1px solid grey;
}

/* Media Queries */
@media (min-width:960px) {
  .showModal {
    text-align: center;
  }
}