.headerContainer {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  width: 100vw;
}

.hidden {
  display: none;
}

/* Burger Container */
.burgerIcon {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 70vw;
  height: 100vh;
  z-index: 2;
}

.iconClose {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;

}



.logo {
  width: auto;
  height: 1rem;
  margin-left: 1rem;
}

.desktopMenu {
  display: none;

}

/* Account */
.iconCart {
  width: 1rem;
  height: 1rem;

}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* Media Queries */
@media (min-width:960px) {

  .burgerContainer {
    display: none;
  }

  .desktopMenu {
    display: flex;
    gap: 2rem;

  }

}