.headerContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.leftContainer,
.rightContainer {
  display: flex;
  align-items: stretch;
}

.hidden {
  display: none;
}

/* Burger Container */
.burgerContainer {
  margin-right: 0.5rem;
}

.burgerIcon {
  width: 1rem;
  height: 1rem;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  width: 60vw;
  height: 100vh;
  z-index: 3;
  top: 0;
  left: 0;
}

.iconClose {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0 1rem 0.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.flex li {
  margin-top: 1.5rem;
}

.logo {
  width: auto;
  height: 1rem;
  margin-left: 0.5rem;
}

.desktopMenu {
  display: none;

}

/* Account */
.cartIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.cartIcon:hover {
  cursor: pointer
}

.avatar {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.avatar:hover {
  cursor: pointer;
  outline: solid hsl(26, 100%, 55%);
}


/* Media Queries */
@media (min-width:960px) {

  .burgerContainer {
    display: none;
  }

  .headerContainer {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.1);

  }

  .desktopMenu {
    display: flex;
    gap: 2rem;

  }

}