.priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
}

.discountedPrice {
    font-weight: 700;
    font-size: 1.5rem;

}

.discount {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 0.9rem;
    background-color: hsl(26, 92%, 90%);
    padding: 0.3rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 6rem;
}

.fullPrice {
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;

}

.productInfoContainer {
    margin: 0 2rem;
}

.brand {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 0.9rem;
}

.productDescription {
    color: hsl(219, 9%, 45%);
}

/* Media Queries */
@media (min-width:960px) {
    .productPage {
        width: 50vw;
        margin-top: 2rem;
    }

    .productDescription {
        font-size: 0.75rem;
    }

    .priceContainer {
        flex-direction: column;
        align-items: flex-start;
        width: 30vw;
    }

    .productInfoContainer {
        display: flex;
        flex-direction: column;
        width: 30vw;
    }

}