.priceContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2rem;
}

.discountedPrice {
    font-weight: 700;
    font-size: 1.5rem;

}

.discount {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 0.9rem;
    background-color: hsl(26, 92%, 90%);
    padding: 0.15rem 0.5rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

.fullPrice {
    font-weight: 700;
    font-size: 0.9rem;
    color: hsl(220, 14%, 75%);
    text-decoration: line-through;
    margin-left: 7rem;
}

.productInfoContainer {
    margin: 0 2rem;
}

.brand {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 0.9rem;
}

.productDescription {
    color: hsl(219, 9%, 45%);
}

/* Media Queries */
@media (min-width:960px) {
    .productPage {
        width: 50vw;
        margin-top: 2rem;
    }

    .productInfoContainer {
        display: flex;
        flex-direction: column;
        width: 30vw;
    }

    .brand {
        font-size: 0.6rem;
        margin-bottom: 0;
    }

    .productName {
        margin: 0.5rem 0;
        font-size: 2rem;
    }

    .productDescription {
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }

    .priceContainer {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 25% 1fr;
        grid-template-areas:
            "discounted discount"
            "full full";
        justify-items: start;
        width: 30vw;
        margin-top: 0.5rem;
    }

    .discountedPrice {
        grid-area: discounted;
        margin: 0;
        font-size: 1rem;
    }

    .discount {
        grid-area: discount;
        margin: 0;
    }

    .fullPrice {
        grid-area: full;
        margin-left: 0;


    }



}