.sliderImage {
    width: 100vw;
    height: auto;
    position: relative;
}

.inactive {
    display: none;
}

.arrowNext {
    position: absolute;
    background-color: white;
    top: 14rem;
    right: 1rem;
    padding: 1rem 1.25rem;
    border-radius: 2rem;
    z-index: 1;
}

.arrowPrev {
    position: absolute;
    background-color: white;
    top: 14rem;
    left: 1rem;
    padding: 1rem 1.25rem;
    border-radius: 2rem;
    z-index: 1;
}

/* Media Queries */
@media (min-width:960px) {
    .sliderContainer {
        width: 25vw;
        margin: 2rem;
    }

    .sliderImage {
        width: 100%;
        border-radius: 0.5rem;
    }

    .arrowNext,
    .arrowPrev {
        display: none;
    }
}