.sliderContainerDesktop {
    display: none;
}

@media (min-width:960px) {
    .sliderContainerDesktop {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .sliderImageDesktop {
        width: 30vw;
        border-radius: 0.5rem;
        margin-bottom: 1rem;

    }

    .sliderDotsDesktop {
        display: flex;
        justify-content: space-around;
        gap: 0.5rem;
        width: 30vw;
    }

    .sliderDotDesktop {
        width: 20%;
        border-radius: 0.5rem;
    }

    .sliderDotDesktop:hover {
        opacity: 0.5;
        cursor: pointer;
        outline: solid hsl(26, 100%, 55%);
    }

    body.overlay .lightboxContainer {
        background-color: inherit;
        z-index: 3;
    }

    .lightboxImage {
        position: absolute;
        max-width: 50%;
        max-height: 50%;
        top: 20%;
        left: 35%;
        border-radius: 0.5rem;
        margin: auto;
    }

    .arrowPrev {
        position: absolute;
        top: 45%;
        left: 32%;
        transform: translateY(-50%);
    }

    .arrowNext {
        position: absolute;
        top: 45%;
        right: 32%;
        transform: translateY(-50%);
    }

    .sliderDotsLightbox {
        display: flex;
        justify-content: space-around;
        gap: 0.5rem;
        width: 30vw;
    }

    .sliderDotLightbox {
        position: relative;
        left: 78%;
        width: 20%;
        border-radius: 0.5rem;
    }

    .sliderDotLightbox:hover {
        opacity: 0.5;
        cursor: pointer;
        outline: solid hsl(26, 100%, 55%);
    }



}