:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: hsl(26, 100%, 55%);
  --secondary-color: hsl(25, 100%, 94%);

  /* Neutral Colors */
  /* Very dark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%) 
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%)*/
}

body {
  margin: 0;
  display: flex;
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
}

.appMain {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

body.overlay::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.75);
  z-index: 2;
  content: "";
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/* Media Queries */

/* Desktop */
@media (min-width:960px) {
  body {
    justify-content: center;
    margin: 0;
  }

  .appMain {
    flex-direction: row;
    margin-left: 2rem;
  }
}