:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  min-width: 375px;
  max-width: 1440px;
  min-height: 100vh;
}

h1 {}

button {}

button:hover {}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}